/django_backend/data
.env
*.env
*.venv
*.sqlite*
*.pyc
myenv

/dir_lele/
.vscode

./srcs/frontend/site/__mocks__
./srcs/frontend/site/__tests__
node_modules
jest.config.js
package-lock.json
package.json
