/* COLORS */
:root {
  --color-dark: #001b2e;
  --color-light: #f1ebda;
  --color-accent: #511db2;
  --color-accent-light: #ffffff;
  --color-accent-secondary: #9628b3;
  --color-accent-tertiary: #f24c00;

  --color-dark-transparent: #00000066;
  --color-light-transparent: #ffffffcc;
  --color-accent-transparent: #511db266;

  --color-background: #521369b8; /* celle davant etait trop foncee je trouveon voyait pas la croix*/
}

/* GENERAL */
#stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  z-index: -1;
}

body {
  background: radial-gradient(circle, #000 20%, var(--color-dark));
  font-family: "Jersey 15", serif;
  color: var(--color-light);
}

#app {
  min-height: calc(100vh - 24rem); /* 100vh minus navbar height * 2 to be centered*/
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  height: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}

/* SCROLLBAR */
/* Style the entire scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Adjust width */
  height: 10px; /* For horizontal scrollbars */
}

/* Style the scrollbar track (background) */
::-webkit-scrollbar-track {
  background: var(--color-dark); /* Dark background */
  border-radius: 10px; /* Rounded corners */
}

/* Style the scrollbar handle (draggable part) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    var(--color-accent),
    var(--color-accent-secondary)
  ); /* Gradient color */
  border-radius: 10px;
  border: 2px solid #1e1e1e; /* Border to separate from track */
}

/* On hover, make the scrollbar more visible */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45deg,
    var(--color-accent),
    var(--color-accent-secondary)
  );
}

/* NAVBAR */
.navbar {
  height: 12rem;
}

.navbar-brand,
.navbar-brand:focus {
  background: none;
  border: none;
  margin: 0;
  font-family: "Jersey 10", serif;
  font-size: 8rem;
  color: var(--color-light);
  text-shadow: 4px 4px 0px var(--color-accent-secondary),
    8px 8px 0px var(--color-accent); /* si garde mettre rem*/
  transition: color 0.3s, font-size 0.3s;
}

.navbar-brand:hover {
  color: var(--color-accent-light);
  font-size: 8.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

/* PAGE TITLE */
h1 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  font-family: "Jersey 15", serif;
}

label {
  font-size: 2rem;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-control {
  background: var(--color-dark-transparent);
  border: 0.15rem solid var(--color-light);
  border-radius: 0.7rem;
  color: var(--color-light);
  font-size: 1.2rem;
  padding-left: 1rem;
}

.form-control::placeholder {
  color: var(--color-light);
  opacity: 0.6;
}

.form-control:focus {
  color: var(--color-accent-light);
  background: var(--color-dark-transparent);
  /* border: 0.2rem solid var(--color-accent-light); */
  box-shadow: 0 0 1rem var(--color-accent);
}

/* BUTTONS */
.btn {
  background: var(--color-light-transparent);
  border: 0.2rem solid var(--color-light);
  border-radius: 1.5rem;
  padding: 0.3rem 1rem;
  color: var(--color-dark);
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  text-align: center;
}

.btn:hover,
.btn:focus,
.nav-pills .nav-link.active {
  color: var(--color-accent-light);
  background: var(--color-accent-transparent);
  border: solid var(--color-accent);
}

/* NAVIGATION MENU */
.nav-btn,
.nav-pills .nav-link {
  background: var(--color-dark-transparent);
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  color: var(--color-light);
  transition: all 0.1 ease-in-out, border 0.15s ease-in-out;
}

.nav-btn:hover,
.nav-btn:focus {
  border: solid var(--color-accent-light);
  box-shadow: 0px 0px 6px 8px var(--color-accent),
    0px 0px 4px 2px var(--color-accent-light),
    inset 0px 0px 10px 4px var(--color-accent);
}

/* VIEW TRANSITIONS */
.view-transition {
  opacity: 0;
  transform: translateY(10px) scale(0.95);
  transition: all 0.3s ease-in-out;
}

.view-transition.active {
  opacity: 1;
  transform: translateY(0) scale(1);
}

/* GAME */

.game-background {
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2rem;
}

.paddle-rail {
  position: relative;
  width: 97.6%;
  border-left: dashed 3px #511db2a8;
  border-right: dashed 3px #511db2a8;
}

.game-background-text {
  position: absolute;
  z-index: 0;
  font-size: 2rem;
  color: rgba(255, 255, 255, 1); /* light transparent text */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* allow clicks to go through */
  width: 100%;
  text-align: center;
}

#gameCanvas {
  display: block;
  /* background-color: #052f4d; */
  /* position: relative; */
  width: 60vmin; /* 60% du plus petit cote (largeur ou hauteur) */
  height: 40vmin;
  margin: 0 auto; /* Centrer le rectangle de jeu */
  /* border-radius: 20px; */
  z-index: 1;
  position: relative;
}

#leftScore,
#rightScore,
#tiret {
  font-size: xx-large;
}

/* FRIENDS */
.nav-justified .nav-link {
  height: 100%;
}

.nav-pills .nav-link {
  color: white;
  font-size: 1.5rem;
  padding: 0.35rem;
}

.nav-link .badge {
  padding: 0.35em;
  background-color: red;
}

.card {
  background-color: var(--color-dark-transparent);
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-user .infos {
  margin-left: 1rem;
  text-align: left;
}

.card-user .username {
  font-size: 2rem;
}

.card-user .mail {
  font-size: 1.5rem;
  color: var(--color-accent-secondary);
}

.card-user .btn {
  background: none;
  padding: 0rem 0.7rem;
  border-radius: 0.5rem;
  color: white;
}

.material-symbols-outlined {
  line-height: 2 !important;
}

.card-user .btn-red:hover {
  color: red;
  border-color: red;
}

.card-user .btn-green:hover {
  color: green;
  border-color: green;
}

/* TRANSLATION */

.language-selector {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espace entre les points */
  /* align-items: center; */
}

/* Style des points */
.dot {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 10%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Effet au survol */
.dot:hover {
  background-color: #007bff;
}

.avatar-120 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.avatar-80 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.avatar-50 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}


.bracket-container svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.match-tournament {
  width: 250px;
  height: 130px;
  z-index: 1;
}

.match-content {
  width: 100%;
  height: 100%;
}

.avatar-50.empty {
  border: 2px solid var(--color-accent);
  background-color: var(--color-accent-transparent);
}

.text-instructions {
  white-space: pre-wrap;
}

.gameInstructions{
  position: absolute;
  top: 75%;         /* centré verticalement */
  left: 50%;        /* centré horizontalement */
  color: var(--color-accent-light);
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none; /* pour que les clics passent à travers */

}

.game-background {
  position: relative;
}