/* 
    css :
        - login.html
        - signup.html
        - 2fa.html
        - home.html
        - playerMode.html
        - pong.html -> pas encore
*/

input::placeholder
{
    color: white;
    font-style: italic;
}

body
{
    background: radial-gradient(circle, #000 20%, #001B2E);
    font-family: "Jersey 15", serif;
}

.login-form
{
    width: 100%;
    max-width: 300px;
}

#signin-btn, #signup-btn, #forgot-btn, #signup, #back-to-login-btn, #verification-code1, #play-btn, #tournament-btn, #stats-btn, #friends-btn, #profile-btn, #logout-btn, #solo-btn, #multiplayer-btn, #online-btn
{
    border-radius: 2.5rem;
    background: #F1EBDA;
    /* color: #001B2E; */
}

#username, #password, #new-username, #new-email, #new-password, #confirm-password
{
    border-radius: 0.5rem;
    /* background-color: #001B2E; */
    /* color: #F1EBDA; */
}

#title
{
    color: white;
}