/* COLORS */
:root {
	--color-dark:				#001B2E;
	--color-light:				#F1EBDA;
	--color-accent:				#511DB2;
	--color-accent-light:		#FFFFFF;
	--color-accent-secondary:	#9628b3;

	--color-dark-transparent:	#00000066;
	--color-light-transparent:	#FFFFFFCC;
	--color-accent-transparent:	#511DB266;

}

/* GENERAL */
canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: block;
	z-index: -1;
}

body
{
	background: radial-gradient(circle, #000 20%, var(--color-dark));
	font-family: "Jersey 15", serif;
	color: var(--color-light);
}

#app {
	min-height: calc(100vh - 24rem);  /* 100vh minus navbar height * 2 to be centered*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.container
{
	height: 100%;
	flex-wrap: wrap;
}

/* NAVBAR */
.navbar {
	height: 12rem;
}

.navbar-brand, .navbar-brand:focus
{
	background: none;
	border: none;
	margin: 0;
	font-family: "Jersey 10", serif;
	font-size: 4rem;
	color: var(--color-light);
	text-shadow: 4px 4px 0px var(--color-accent-secondary), 8px 8px 0px var(--color-accent); /* si garde mettre rem*/
	transition: color 0.3s, font-size 0.3s;
}

.navbar-brand:hover
{
	color: var(--color-accent-light);
	font-size: 4.25rem;
}

/* PAGE TITLE */
h1
{
	font-size: 2.5rem;
	margin-bottom: 1.25rem;
	font-family: "Jersey 15", serif;
}

label
{
	font-size: 2rem;
}

/* FORM */
form
{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.form-control
{
	background: var(--color-dark-transparent);
	border: 0.15rem solid var(--color-light);
	border-radius: 0.7rem;
	color: var(--color-light);
	font-size: 1.2rem;
	padding-left: 1rem;
}

.form-control::placeholder
{
	color: var(--color-light);
	opacity: 0.6;
}

.form-control:focus
{
	color: var(--color-accent-light);
	background: var(--color-dark-transparent);
	border: 0.2rem solid var(--color-accent-light);
	box-shadow: 0 0 1rem var(--color-accent);
}


/* BUTTONS */
.btn
{
	background: var(--color-light-transparent);
	border: 0.2rem solid var(--color-light);
	border-radius: 1.5rem;
	padding: 0.3rem 2rem;
	color: var(--color-dark);
	font-size: 1.2rem;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	text-align: center;
}

.btn:hover
{
	color: var(--color-accent-light);
	background: var(--color-accent-transparent);
	border: solid var(--color-accent);
}

/* NAVIGATION MENU */
.nav-btn
{
	background: var(--color-dark-transparent);
	border-radius: 1rem;
	font-size: 1.5rem;
	padding: 1rem 2rem;
	color: var(--color-light);
	transition: all 0.3 ease-in-out, border 0.15s ease-in-out;
}

.nav-btn:hover
{
	font-size: 1.75rem;
	border: 0.32rem solid var(--color-accent);
	transform: scale(1.1);
}

/* VIEW TRANSITIONS */
.view-transition {
	opacity: 0;
	transform: translateY(10px) scale(0.95);
	transition: all 0.3s ease-in-out;
}

.view-transition.active {
	opacity: 1;
	transform: translateY(0) scale(1);

}

/* GAME */

	
#myCanvas{
	width: 100%;   /* Le canvas occupe toute la largeur de son conteneur */
	height: 100%;  /* La hauteur s'ajuste pour garder l'aspect ratio */
	position: relative;
	border-radius: 16px;
}


/* todo @leontinepaq a changef */
.modal
{
	color: var(--color-dark);
}

.card
{
	background-color: var(--color-light);
	border-radius: 16px;
	color:#000;
}
