.d-grid {
	display: grid;
	gap: 3rem;
}

.custom-border {
	border: 0.2rem solid var(--color-light);
	border-radius: 0.4rem;
	padding: 0.5rem;
	text-align: center;
}

.dashboard-block .row {
	margin: 0;
	gap: 3rem;
}

.dashboard-block .col {
	padding: 0;
}

.dashboard-block canvas {
	width: 100%;
	height: auto;
}

.dashboard-block {
	padding: 3rem;
	background-color: var(--color-dark-transparent);
}

.stat-value {
    font-size: 3rem;
}
