:root {
  --chart-font-size: 3rem;
  --chart-font-family: "Jersey 15", serif;
  --chart-text-color: var(--color-light);
}

.custom-border {
  border: 0.2rem solid var(--color-light);
  border-radius: 0.4rem;
  padding: 1rem;
  background-color: var(--color-dark-transparent);
}

/* Pour fixer la largeur des lignes et les centrer dans le container */
.fixed-width-row {
  margin: 0 auto;
  min-height: 25rem;
}

.container .dashboard-block > .row:first-child > [class*="col"] {
  margin-top: calc(var(--bs-gutter-y) * 0.5);
}

.container .dashboard-block > .row:last-child > [class*="col"] {
  margin-bottom: calc(var(--bs-gutter-y) * 0.5);
}

.stat-value {
  font-size: var(--chart-font-size);
}

.chart-text {
  position: absolute;
  text-align: center;
  color: var(--color-light);
  font-family: var(--chart-font-family);
}

/* Pour les écrans entre 992px et 1200px, le texte passe en position statique (donc en dessous du canvas) */
@media (min-width: 768px) and (max-width: 1200px) {
  .chart-text {
    position: static;
  }
}

.chart-percentage {
  font-size: var(--chart-font-size);
  display: block;
}

.chart-label {
  font-size: calc(var(--chart-font-size) * 0.5);
  display: block;
}
