:root {
  --chart-font-size: 1rem;
  --chart-font-family: "Jersey 15", serif;
  --chart-text-color: var(--color-light);
}

.dashboard-row {
  margin: 0 auto;
  min-height: 20rem;
}

.dashboard-border {
  border: 0.2rem solid var(--color-light);
  /* box-shadow: 0px 0px 10px 4px var(--color-accent), inset 0px 0px 2px 2px var(--color-accent); */
  border-radius: 0.4rem;
  padding: 1rem;
  background-color: var(--color-dark-transparent);
  height: 100%;
}

.container .dashboard-block > .row:first-child > [class*="col"] {
  margin-top: calc(var(--bs-gutter-y) * 0.5);
}

.container .dashboard-block > .row:last-child > [class*="col"] {
  margin-bottom: calc(var(--bs-gutter-y) * 0.5);
}

.stat-value {
  font-size: calc(var(--chart-font-size) * 2);
}

.chart {
  max-height: 15rem;
}

.chart-text {
  position: absolute;
  text-align: center;
  color: var(--color-light);
  font-family: var(--chart-font-family);
}

/* Pour les écrans entre 992px et 1200px, le texte passe en position statique (donc en dessous du canvas) */
@media (min-width: 768px) and (max-width: 1200px) {
  .chart-text {
    position: static;
  }
}

.chart-percentage {
  font-size: calc(var(--chart-font-size) * 2);
  display: block;
}

.chart-label {
  font-size: var(--chart-font-size);
  display: block;
}

/* Styles généraux */
.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex: 1;
  color: var(--color-light);
}

.player-info.winner {
  font-weight: bold;
  color: var(--color-accent-light);
  text-shadow: 0 0 10px var(--color-accent), 0 0 30px var(--color-accent);
  filter: drop-shadow(0 0 15px var(--color-accent));
}

.player-info.winner .avatar-80 {
  border: 3px solid var(--color-accent-light);
  box-shadow: 0 0 10px var(--color-accent), 0 0 30px var(--color-accent);
}

.player-info.winner .avatar-50 {
  border: 2px solid var(--color-accent-light);
  box-shadow: 0 0 10px var(--color-accent), 0 0 30px var(--color-accent);
}

.trophy-icon {
  font-size: 24px;
  color: var(--color-accent-light);
  text-shadow: 0 0 10px var(--color-accent), 0 0 20px var(--color-accent);
}



.username {
  font-size: 1.2rem;
}

.score {
  font-size: 1.5rem;
  font-weight: bold;
}

.vs {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-accent-secondary);
}

.match-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.match-info {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: var(--color-accent-light);
}

.match-info .material-symbols-outlined {
  font-size: 20px;
  color: var(--color-accent-secondary);
}

.dashboard-icon {
  color: var(--color-accent-secondary);
}