<a data-action="navigate" href="dashboard" class="btn action-btn w-100 text-center">REFRESH</a>
<p></p>

<div class="container dashboard-block d-grid custom-border">
	<!-- ROW 1 -->
	<div class="row">
		<div class="col">
			<div id="lottie-animation" class="h-75" margin="auto">
				<dotlottie-wc src="https://lottie.host/9b701824-c561-4fb2-a404-2b60b5e0c6a9/eU2X6820ry.lottie" style="height: 100%" loop autoplay></dotlottie-wc>
			</div>
		</div>

		<div class="col d-grid">
			<div class="custom-border">
				<h5>Matches Won</h5>
				<span class="stat-value" id="matches-won">0</span>
			</div>
			<div class="custom-border">
				<h5>Win Streak</h5>
				<span class="stat-value" id="win-streak">0</span>
			</div>
		</div>
	
	<div class="col custom-border">
		<h5>Pie chart</h5>
		<canvas id="win-rate-chart"></canvas>
	</div>
	</div>

	<!-- ROW 2 -->
	<div class="row">
		<div class="col custom-border">
			<h5>Pie chart</h5>
			<canvas id="game-mode-chart"></canvas>
		</div>
	
		<div class="col d-grid">
			<div class="custom-border">
				<h5>Total Time Played</h5>
				<span class="stat-value" id="total-time">00:00:00</span>
			</div>
			<div class="custom-border">
				<h5>Online Opponents Played</h5>
				<span class="stat-value" id="online-opponents">0</span>
			</div>
		</div>
	</div>

	<!-- ROW 3 -->
	<div class="row">
		<div class="col-12 custom-border">
			<h5>Match Results (Last 7 Days)</h5>
			<canvas id="match-results-chart"></canvas>
		</div>
	</div>
</div>
	