<div
  class="container d-flex flex-column align-items-center"
  style="min-height: inherit">
  <h1 id="dashboard-title" class="text-center mb-5">DASHBOARD</h1>

  <a data-i18n="refresh" data-action="navigate" href="dashboard" class="btn mb-5">REFRESH</a>

  <div class="col-10">
    <!-- Navigation Tabs -->
    <ul class="nav nav-pills nav-justified" role="tablist">
      <li class="nav-item">
        <button
          data-i18n="statistics"
          class="nav-link active"
          id="statistics-tab"
          data-bs-toggle="pill"
          data-bs-target="#statistics"
          type="button"
          role="tab"
          aria-controls="statistics">
          STATISTICS
        </button>
      </li>
      <li class="nav-item">
        <button
          data-i18n="matchHistory"
          class="nav-link"
          id="match-history-tab"
          data-bs-toggle="pill"
          data-bs-target="#match-history"
          type="button"
          role="tab"
          aria-controls="match-history">
          MATCH HISTORY
        </button>
      </li>
    </ul>

    <div class="tab-content mt-4">
      <!-- STATISTICS-->
      <div class="tab-pane fade show active" id="profile-info" role="tabpanel">
        <div class="card card-user neon-border p-3 text-center">
          <div class="card-body">
            <!-- ROW 1 -->
            <div class="row g-5 align-items-stretch fixed-width-row">
              <div class="col-md-3 d-none d-md-block">
                <div
                  id="lottie-animation"
                  class="p-3 h-100 d-flex align-items-center justify-content-center">
                  <dotlottie-wc
                    src="https://lottie.host/9b701824-c561-4fb2-a404-2b60b5e0c6a9/eU2X6820ry.lottie"
                    loop
                    autoplay
                    style="width: 100%; aspect-ratio: 1 / 1"></dotlottie-wc>
                </div>
              </div>

              <div class="col-md-5 d-flex flex-column gap-4">
                <div
                  class="p-3 dashboard-border flex-grow-1 d-flex flex-column align-items-center justify-content-center">
                  <h4 data-i18n="matchWon">Matches Won</h4>
                  <h4 class="stat-value mb-0" id="matches-won">-10</h4>
                </div>
                <div
                  class="p-3 dashboard-border flex-grow-1 d-flex flex-column align-items-center justify-content-center mt-3">
                  <h4 data-i18n="winningStreak">Winning Streak</h4>
                  <h4 class="stat-value mb-0" id="win-streak">-10</h4>
                </div>
              </div>

              <div class="col-md-4">
                <div
                  class="p-3 dashboard-border h-100 d-flex flex-column align-items-center justify-content-center position-relative">
                  <canvas class="chart" id="win-rate-chart"></canvas>
                  <div class="chart-text">
                    <h4 id="win-rate-percentage" class="chart-percentage">0%</h4>
                    <h4 data-i18n="winRate" class="chart-label">Win Rate</h4>
                  </div>
                </div>
              </div>
            </div>

            <!-- ROW 2 -->
            <div class="row g-5 align-items-stretch fixed-width-row">
              <div class="col-md-6">
                <div
                  class="p-3 dashboard-border h-100 d-flex flex-column align-items-center justify-content-center position-relative">
                  <canvas class="chart" id="games-played"></canvas>
                </div>
              </div>

              <div class="col-md-6 d-flex flex-column gap-4">
                <div
                  class="p-3 dashboard-border flex-grow-1 d-flex flex-column align-items-center justify-content-center">
                  <h4 data-i18n="totalTime">Total Time Played</h4>
                  <h4 class="stat-value mb-0" id="total-time">00:00:00</h4>
                </div>
                <div
                  class="p-3 dashboard-border flex-grow-1 d-flex flex-column align-items-center justify-content-center mt-3">
                  <h4 data-i18n="onlineOpponents">Online Opponents Played</h4>
                  <h4 class="stat-value mb-0" id="online-opponents">-10</h4>
                </div>
              </div>
            </div>

            <!-- ROW 3 -->
            <div class="row g-5 align-items-stretch fixed-width-row">
              <div class="col">
                <div
                  class="p-3 dashboard-border h-100 d-flex flex-column align-items-center justify-content-center position-relative">
                  <canvas class="chart" id="match-histogram"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
