<div>
  <button id="english" type="button">English</button>
  <button id="french" type="button">Français</button>
  <button id="espagnol" type="button">Espagnol</button>
</div>
<div class="row w-100 justify-content-center mt-4">
  <div class="col-12 col-md-6 col-lg-4 d-flex flex-column gap-3">
    <a data-i18n="playGame" data-action="navigate" href="playerMode" class="btn nav-btn">PLAY GAME</a>
    <button data-i18n="tournaments" data-action="tournament" class="btn nav-btn">TOURNAMENTS</button>
    <a data-i18n="statistics" data-action="navigate" href="dashboard" class="btn nav-btn">STATISTICS</a>
    <a data-i18n="friends" data-action="navigate" href="friends" class="btn nav-btn">FRIENDS</a>
    <a data-i18n="profile" data-action="navigate" href="profile" class="btn nav-btn">PROFILE</a>
    <button data-i18n="logout" data-action="logout" type="button" class="btn nav-btn">LOGOUT</button>
  </div>
</div>
