<div class="row w-100 justify-content-center mt-4">
	<div class="col-12 col-md-6 col-lg-4 d-flex flex-column gap-3">
		<a data-action="navigate" href="playerMode" class="btn nav-btn">PLAY GAME</a>
		<button data-action="tournament" class="btn nav-btn" >TOURNAMENTS</button>
		<a data-action="navigate" href="dashboard" class="btn nav-btn">STATISTICS</a>
		<button data-action="friends" class="btn nav-btn" >FRIENDS</button>
		<a data-action="navigate" href="profile" class="btn nav-btn">PROFILE</a>
		<button data-action="logout" type="button" class="btn nav-btn">LOGOUT</button>
	</div>
</div>

