<div class="d-flex justify-content-between align-items-center w-50">
  <div>
    <h3>player 1</h3>
    <h2 id="leftScore">0</h2>
  </div>
  <h3>VS</h3>
  <div>
    <h3>player 2</h3>
    <h2 id="rightScore">0</h2>
  </div>
</div>
<div class="game-background neon-border d-flex justify-content-center">
  <div class="paddle-rail d-flex justify-content-center">
    <canvas id="gameCanvas" width="600" height="400"></canvas>
  </div>
</div>
<div>
  <button data-i18n="pause" class="mt-4 btn" id="pause">PAUSE</button>
</div>
<div class="modal" id="winnerModal" tabindex="-1" aria-labelledby="winnerModalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 data-i18n="congratulations" class="modal-title" id="winnerModalLabel">Congratulations !</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="closeendgame" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <h3 data-i18n="winnerIs" id="winnerName">
          Winner is :
        </h3>
        <h3 id="winner-name"></h3>
        <p data-i18n="amazingVictory" >What an amazing victory !</p>
      </div>
      <div class="modal-footer">
        <button data-i18n="close" type="button" class="btn btn-success" data-bs-dismiss="modal" id="closeendgame1">CLOSE</button>
        <button data-i18n="playAgain" type="button" class="btn btn-primary" data-bs-dismiss="modal" id="rejouer">PLAY AGAIN</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="waitingModal" tabindex="-1" aria-labelledby="winnerModalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" id="closeendgame2" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center" data-i18n="waitingModal">
      </div>
    </div>
  </div>
</div>
<button data-i18n="endgame" type="button" class="mt-3 btn btn-primary" id="endgame">ENDGAME</button>
