<h1 class="text-center mb-5">Edit my profile</h1>
<div class="row w-100">
  <!-- Colonne gauche : Avatar -->
  <div class="col-12 col-md-6 d-flex flex-column align-items-center mb-4 mb-md-0">
    <!-- Avatar (placeholder ou URL dynamique) -->
    <img id="profile-avatar" src="assets/nyancat.jpeg" alt="Avatar" class="img-fluid rounded-circle mb-3" style="max-width: 100px" />
    <button data-action="edit-avatar" class="btn btn-outline-primary">Edit Avatar</button>
  </div>

  <!-- Colonne droite : Informations du profil -->
  <div class="d-flex flex-column col-12 col-md-6 gap-5 text-md-start justify-content-center">
    <!-- Section Username -->
    <div>
      <label class="form-label">Username</label>
      <div class="mb-2">
        <span id="display-username" class="fs-5"></span>
        <input type="text" id="edit-username" class="form-control d-none" />
      </div>
      <button data-action="toggle-edit" data-field="username" class="btn btn-outline-secondary">EDIT</button>
    </div>

    <!-- Section Email -->
    <div>
      <label class="form-label">Email</label>
      <div class="mb-2">
        <span id="display-email" class="fs-5"></span>
        <input type="email" id="edit-email" class="form-control d-none" />
      </div>
      <button data-action="toggle-edit" data-field="email" class="btn btn-outline-secondary">EDIT</button>
    </div>

    <!-- Section Password -->
    <div>
      <label class="form-label">Password</label>
      <div class="mb-2">
        <input type="password" id="edit-password" class="form-control d-none" placeholder="New password" />
        <input type="password" id="confirm-password" class="form-control d-none mt-2" placeholder="Confirm password" />
      </div>
      <div>
        <button data-action="toggle-edit" data-field="password" class="btn btn-outline-secondary">EDIT</button>
      </div>
    </div>

    <!-- Section 2FA -->
    <div>
      <label class="form-label">Two-Factor authentification</label>
      <div class="mb-2 d-none" id="display-disable-2fa">
        <span id="span-2fa-mail" class="fs-5 d-none">Two-factor authentification by mail is required</span>
        <span id="span-2fa-app" class="fs-5 d-none">Two-factor authentification by app is required</span>
        <div>
          <button data-action="disable-2fa" class="btn btn-outline-secondary">DISABLE</button>
        </div>
      </div>
      <div class="mb-2 d-none" id="display-enable-2fa">
        <div>
          <span class="fs-5">Two-factor authentification by mail</span>
          <div>
            <a data-action="navigate" href="validation2faEmail" class="btn btn-outline-secondary">ENABLE</a>
          </div>
        </div>
        <div>
          <span class="fs-5">Two-factor authentification by app</span>
          <div>
            <a data-action="navigate" href="validation2faApp" class="btn btn-outline-secondary">ENABLE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
