<div
  class="container d-flex flex-column align-items-center"
  style="min-height: inherit">
  <a data-action="navigate" href="profile" class="btn">REFRESH</a>

  <h1 class="text-center mb-5">Edit my profile</h1>
  <div class="col-12 col-md-8 col-lg-8">
    <ul class="nav nav-pills nav-justified" id="profile-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="profile-info-tab"
          data-bs-toggle="pill"
          data-bs-target="#profile-info"
          type="button"
          role="tab"
          aria-controls="profile-info"
          aria-selected="true">
          PROFILE INFO
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="security-tab"
          data-bs-toggle="pill"
          data-bs-target="#security"
          type="button"
          role="tab"
          aria-controls="security"
          aria-selected="false">
          SECURITY
        </button>
      </li>
    </ul>

    <div class="tab-content" id="profile-tabContent">
      <!-- Profile Info -->
      <div
        class="tab-pane fade show active"
        id="profile-info"
        role="tabpanel"
        aria-labelledby="profile-info-tab">
        <div class="card card-user neon-border p-4 text-center">
          <div class="card-body">
            <!-- Avatar -->
            <div class="d-flex flex-column align-items-center">
              <img
                id="profile-avatar"
                src="assets/nyancat.jpeg"
                alt="Avatar"
                class="img-fluid rounded-circle"
                style="max-width: 120px" />
              <button class="btn btn-sm col-12 col-md-6 col-lg-3 mt-3">
                Edit Avatar
              </button>
            </div>

            <div class="text-start mt-4">
              <!-- Username -->
              <div
                class="d-flex flex-column flex-lg-row justify-content-between align-items-center gap-4">
                <div
                  id="display-username"
                  class="username col-12 col-lg-9 text-break text-center text-lg-start"></div>
                <div class="col-12 col-md-6 col-lg-9 d-none">
                  <input type="text" id="edit-username" class="form-control" />
                </div>
                <button
                  data-action="toggle-edit"
                  data-field="username"
                  class="btn btn-sm col-12 col-md-6 col-lg-3 mt-2 mt-lg-0">
                  EDIT USERNAME
                </button>
              </div>

              <!-- Email -->
              <div
                class="d-flex flex-column flex-lg-row justify-content-between align-items-center mt-4 gap-4">
                <div
                  id="display-email"
                  class="mail col-12 col-lg-9 text-break text-center text-lg-start"></div>
                <div class="col-12 col-md-6 col-lg-9 d-none">
                  <input type="email" id="edit-email" class="form-control" />
                </div>

                <button
                  data-action="toggle-edit"
                  data-field="email"
                  class="btn btn-sm col-12 col-md-6 col-lg-3 mt-2 mt-lg-0">
                  EDIT EMAIL
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Security -->
      <div
        class="tab-pane fade"
        id="security"
        role="tabpanel"
        aria-labelledby="security-tab">
        <!-- Password-->
        <div class="card card-user neon-border gap-3 mt-4">
          <div class="card-body align-items-center d-flex flex-column align-items-center">
            <h5>Change Password</h5>
            <input
              type="password"
              id="edit-password"
              class="form-control my-2"
              placeholder="New password" />
            <input
              type="password"
              id="confirm-password"
              class="form-control my-2"
              placeholder="Confirm password" />
            <button
              data-action="toggle-edit"
              data-field="password"
              class="btn btn-sm col-12 col-md-6 col-lg-3 mt-3">
              Update Password
            </button>
          </div>
        </div>

        <!-- 2FA -->
        <div class="card card-user neon-border gap-3 mt-4">
          <div class="card-body">
            <h5>Two-Factor Authentication</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
