<div id="signup-form-container">
<h2>Sign Up</h2>
<form id="signup-form">
	<input type="text" id="new-username" placeholder="Username" required>
	<input type="email" id="new-email" placeholder="Email" required>
	<input type="password" id="new-password" placeholder="Password" required>
	<input type="password" id="confirm-password" placeholder="Confirm Password" required>
	<button type="submit">SIGN UP</button>
	<button type="button" id="back-to-login-btn">BACK TO LOGIN</button>
	<dotlottie-wc src="https://lottie.host/9b701824-c561-4fb2-a404-2b60b5e0c6a9/eU2X6820ry.lottie" autoplay loop style="width: 200px; height: 200px;" ></dotlottie-wc >
</form>
</div>