<h2 class="mt-4">ENTER PLAYER'S NAME</h2>
<h3 class="mt-4">Match 1</h3>
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <input
        type="text"
        id="player1"
        class="form-control"
        placeholder="Player 1"
      />
    </div>
    <div class="col-md-4">
      <input
        type="text"
        id="player2"
        class="form-control"
        placeholder="Player 2"
      />
    </div>
  </div>
</div>
<h3 class="mt-4">Match 2</h3>
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <input
        type="text"
        id="player3"
        class="form-control"
        placeholder="Player 3"
      />
    </div>
    <div class="col-md-4">
      <input
        type="text"
        id="player4"
        class="form-control"
        placeholder="Player 4"
      />
    </div>
  </div>
</div>
<button class="btn btn-light mt-5" id="startTournament">
  START TOURNAMENT
</button>
