<h1 data-i18n="AppVerification" id="page-title">App verification required to enable two-factor authentification</h1>
<div class="row w-100 justify-content-center mt-4">
  <div class="d-flex flex-column gap-3" style="max-width: 30rem">
    <div>
      <h4 data-i18n="scanQR" >Scan the QR code with your authenticator app:</h4>
      <img
        id="qrCodeImg"
        src=""
        alt="charging QR Code"
        class="img-fluid mx-auto d-block w-50" />
    </div>
    <div class="d-flex flex-column gap-3">
      <h4 data-i18n="codeApp">Enter the code from your authenticator app:</h4>
      <input
        data-i18n="verificationCode"
        type="text"
        class="form-control"
        id="verification-code"
        placeholder="Verification code"
        required />
      <button data-i18n="verifyApp" data-action="verify-2fa-app" type="submit" class="btn w-100">
        VERIFY
      </button>
    </div>
    <a data-i18n="backProfil" data-action="navigate" href="profile" class="btn btn-outline-secondary">BACK TO PROFILE</a>
  </div>
</div>
