<h2 data-i18n="enterPlayerNames" class="mt-4">ENTER PLAYER NAMES</h2>
<!-- <h3 class="mt-4">Match 1</h3> -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <input
        data-i18n="player1"
        type="text"
        id="tournament_player1"
        class="form-control"
        placeholder="Player 1"
        required />
    </div>
    <div class="col-md-4">
      <input
        data-i18n="player2"
        type="text"
        id="tournament_player2"
        class="form-control"
        placeholder="Player 2"
        required />
    </div>
  </div>
</div>
<!-- <h3 class="mt-4">Match 2</h3> -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <input
        data-i18n="player3"
        type="text"
        id="tournament_player3"
        class="form-control"
        placeholder="Player 3"
        required />
    </div>
    <div class="col-md-4">
      <input
        data-i18n="player4"
        type="text"
        id="tournament_player4"
        class="form-control"
        placeholder="Player 4"
        required />
    </div>
  </div>
</div>
<button
  data-i18n="startTournament"
  class="btn btn-light mt-5"
  id="startTournament"
  data-action="start-tournament">
  START TOURNAMENT
</button>
