<div
  id="lottie-animation"
  class="p-3 h-100 d-flex align-items-center justify-content-center"
  style="max-width: 40%">
  <dotlottie-wc
    src="https://lottie.host/9b701824-c561-4fb2-a404-2b60b5e0c6a9/eU2X6820ry.lottie"
    autoplay
    loop
    style="max-width: 10rem; aspect-ratio: 1 / 1"></dotlottie-wc>
</div>
<div class="row w-100 justify-content-center mt-4">
  <div class="d-flex flex-column gap-3"
  style="max-width: 30rem">
    <h1 class="pre-login" data-i18n="welcome1">Welcome in space !</h1>
    <h1 class="auth-login d-none" data-i18n="welcome2" data-username="" id="login-page-title">Nice to see you again!</h1>
    <!-- Étape 1 : Username -->
    <form class="w-100 pre-login">
      <input
        data-i18n="username"
        type="text"
        class="form-control"
        id="username"
        placeholder="Username"
        required />
      <button data-i18n="signIn" data-action="signin" type="submit" class="btn action-btn w-100 mt-2">
        SIGN IN
      </button>
    </form>

    <!-- Étape 2 : Authentification (dynamique : mot de passe ou 2FA) -->
    <form class="w-100 d-none auth-login">
      <label data-i18n="password">Password</label>
      <input
        data-i18n="password"
        type="password"
        class="form-control"
        id="pwd-input"
        placeholder="Password"
        required />
      <h4 id="passwordMailSent" data-i18n="passwordMailSent" class="d-none">A new password has been sent to you via email</h4>
      <label id="auth-label" class="2fa-enabled d-none"></label>
      <input
        type="text"
        id="auth-input"
        class="2fa-enabled form-control d-none"
        placeholder="Code" />
      <div class="d-flex justify-content-between gap-3 mt-2">
        <button data-i18n="logIn" data-action="submit-auth" type="submit" class="btn action-btn  flex-grow-1">
          LOG IN
        </button>
        <button data-i18n="forgotPwd" data-action="forgot-pwd" type="button" class="btn action-btn flex-grow-1">
          FORGOT PASSWORD ?
        </button>
      </div>
    </form>

    <div class="mt-3 d-flex justify-content-center pre-login">
      <a
        data-i18n="signUp"
        data-action="navigate"
        href="signup"
        class="btn action-btn w-100 text-center"
        >SIGN UP</a
      >
    </div>
    <div class="mt-3 d-flex justify-content-center d-none auth-login">
      <a
        data-i18n="BackToSignIn"
        data-action="navigate"
        href="login"
        class="btn action-btn w-100 text-center au"
        >BACK TO SIGNIN</a
      >
    </div>

  </div>
</div>
