<div class="row w-100 justify-content-center mt-4"></div>
<div class="col-12 col-md-6 col-lg-4 d-flex flex-column gap-3">
  <button
    data-i18n="solo"
    data-action="play-game"
    data-mode="solo"
    class="btn nav-btn">
    SOLO
  </button>
  <button
    data-i18n="multiplayer"
    data-action="play-game"
    data-mode="multi"
    class="btn nav-btn">
    MULTIPLAYER LOCAL
  </button>
  <button
    data-i18n="online"
    data-action="play-game"
    data-mode="online"
    class="btn nav-btn">
    MULTIPLAYER ONLINE
  </button>
  <button
    data-i18n="local-tournament"
    data-action="navigate"
    href="localTournament"
    class="btn nav-btn">
    LOCAL TOURNAMENT
  </button>
</div>
