<div
  class="container d-flex flex-column align-items-center"
  style="min-height: inherit">
  <h1 data-i18n="editProfile" class="text-center mb-5">Edit my profile</h1>

  <div class="col-12 col-md-8">
    <!-- Navigation Tabs -->
    <ul class="nav nav-pills nav-justified" role="tablist">
      <li class="nav-item">
        <button
          data-i18n="infoProfil"
          class="nav-link active"
          id="profile-info-tab"
          data-bs-toggle="pill"
          data-bs-target="#profile-info"
          type="button"
          role="tab"
          aria-controls="profile-info">
          PROFILE INFO
        </button>
      </li>
      <li class="nav-item">
        <button
          data-i18n="security"
          class="nav-link"
          id="security-tab"
          data-bs-toggle="pill"
          data-bs-target="#security"
          type="button"
          role="tab"
          aria-controls="security">
          SECURITY
        </button>
      </li>
    </ul>

    <div class="tab-content mt-4">
      <!-- PROFILE INFO -->
      <div class="tab-pane fade show active" id="profile-info" role="tabpanel">
        <div class="card card-user neon-border p-3 text-center">
          <div class="card-body">
            <!-- Avatar -->
            <div class="d-flex flex-column align-items-center">
              <img
                id="profile-avatar"
                alt="avatar"
                class="avatar-120 img-fluid" />
              <button data-i18n="editAvatar" class="btn btn-sm col-12 col-md-8 col-lg-4 mt-3">
                EDIT AVATAR
              </button>
              <input type="file" id="avatar-upload" class="d-none" accept="image/jpeg, image/png">
            </div>

            <div class="text-start mt-4">
              <!-- Username -->
              <div class="row mt-4 justify-content-center align-items-center">
                <div class="col-12 col-md-8">
                  <div
                    id="display-username"
                    class="username text-break text-center text-lg-start">
                    Loading username...
                  </div>
                  <div id="edit-username-div" class="d-none">
                    <input type="text" id="edit-username" class="form-control" />
                  </div>
                </div>
                <div class="col-12 col-md-8 col-lg-4 mt-2 mt-lg-0">
                  <button
                    data-mode="edit"
                    data-edit-text="EDIT USERNAME"
                    data-save-text="SAVE"
                    data-i18n="editUsername"
                    data-action="toggle-edit"
                    data-field="username"
                    class="edit-btn btn btn-sm w-100">
                    EDIT USERNAME
                  </button>
                </div>
              </div>

              <!-- Email -->
              <div class="row mt-4 justify-content-center align-items-center">
                <div class="col-12 col-md-8">
                  <div
                    id="display-email"
                    class="mail text-break text-center text-lg-start">
                    Loading email...
                  </div>
                  <div id="edit-email-div" class="d-none">
                    <input type="text" id="edit-email" class="form-control" />
                  </div>
                </div>
                <div class="col-12 col-md-8 col-lg-4 mt-2 mt-lg-0">
                  <button
                    data-mode="edit"
                    data-edit-text="EDIT EMAIL"
                    data-save-text="SAVE"
                    data-i18n="editEmail"
                    data-action="toggle-edit"
                    data-field="email"
                    class="edit-btn btn btn-sm w-100">
                    EDIT EMAIL
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- SECURITY -->
      <div
        class="tab-pane fade"
        id="security"
        role="tabpanel"
        aria-labelledby="security-tab">
        <!-- Password-->
        <div class="card card-user neon-border p-3">
          <div
            class="card-body align-items-center d-flex flex-column align-items-center">
            <h5 data-i18n="changePwd">Change Password</h5>
            <input
              data-i18n="newpassword"
              type="password"
              id="edit-password"
              class="form-control my-2"
              placeholder="New password" />
            <input
              data-i18n="confirmpassword"
              type="password"
              id="confirm-password"
              class="form-control my-2"
              placeholder="Confirm password" />
            <button
              data-mode="save"
              data-save-text="UPDATE PASSWORD"
              data-i18n="updatePwd"
              data-action="toggle-edit"
              data-field="password"
              class="edit-btn btn btn-sm w-100">
              UPDATE PASSWORD
            </button>
          </div>
        </div>

        <!-- 2FA -->
        <div class="card card-user neon-border p-3 mt-4">
          <div class="card-body text-center">
            <!-- Si 2FA est activé -->
            <div class="mb-2 d-none" id="display-disable-2fa">
              <span id="span-2fa-mail" class="fs-5 d-none" data-i18n="2faEmail"
                >Two-factor authentication by mail is required</span
              >
              <span id="span-2fa-app" class="fs-5 d-none" data-i18n="2faApp"
                >Two-factor authentication by app is required</span
              >
              <div class="mt-2">
                <button
                  data-action="disable-2fa"
                  class="btn btn-outline-secondary w-100"
                  data-i18n="disable2fa">
                  DISABLE 2FA
                </button>
              </div>
            </div>

            <!-- Si 2FA est désactivé -->
            <div class="mb-2 d-none" id="display-enable-2fa">
              <div class="mt-2">
                <span data-i18n="enable2fa" class="fs-5">Enable Two-Factor Authentication</span>
              </div>
              <div class="d-flex flex-column flex-md-row gap-3 mt-3 w-100">
                <a
                  data-i18n="enableByMail"
                  data-action="navigate"
                  href="validation2faEmail"
                  class="btn btn-outline-secondary flex-grow-1">
                  ENABLE 2FA BY EMAIL
                </a>
                <a
                  data-i18n="enableByApp"
                  data-action="navigate"
                  href="validation2faApp"
                  class="btn btn-outline-secondary flex-grow-1">
                  ENABLE 2FA BY APP
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
