<div
  class="col-12 col-md-8 col-lg-8"
  id="tournament-section"
  style="min-height: inherit">
  <ul class="nav nav-pills nav-justified" id="tournament-tabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="tab-available"
        data-bs-toggle="pill"
        data-bs-target="#pills-available"
        data-tab="available"
        type="button"
        role="tab"
        data-i18n="available">
        AVAILABLE
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-registered"
        data-bs-toggle="pill"
        data-bs-target="#pills-registered"
        data-tab="registered"
        type="button"
        role="tab"
        ,
        data-i18n="registered">
        REGISTERED
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-ongoing"
        data-bs-toggle="pill"
        data-bs-target="#pills-ongoing"
        data-tab="ongoing"
        type="button"
        role="tab"
        ,
        data-i18n="ongoing">
        ONGOING
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-history"
        data-bs-toggle="pill"
        data-bs-target="#pills-history"
        data-tab="history"
        type="button"
        role="tab"
        ,
        data-i18n="history">
        HISTORY
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="tab-create"
        data-bs-toggle="pill"
        data-bs-target="#pills-create"
        data-tab="create"
        type="button"
        role="tab"
        ,
        data-i18n="create">
        CREATE
      </button>
    </li>
  </ul>

  <div class="tab-content mt-3" id="tournament-tabContent">
    <div
      class="tab-pane fade show active"
      id="pills-available"
      role="tabpanel"
      aria-labelledby="tab-available">
      <!-- Available tournaments -->
    </div>
    <div
      class="tab-pane fade"
      id="pills-registered"
      role="tabpanel"
      aria-labelledby="tab-registered">
      <!-- Registered tournaments -->
    </div>
    <div
      class="tab-pane fade"
      id="pills-ongoing"
      role="tabpanel"
      aria-labelledby="tab-ongoing">
      <!-- Ongoing tournaments -->
    </div>
    <div
      class="tab-pane fade"
      id="pills-history"
      role="tabpanel"
      aria-labelledby="tab-history">
      <!-- Tournament history -->
    </div>
    <div
      class="tab-pane fade"
      id="pills-create"
      role="tabpanel"
      aria-labelledby="tab-create">
      <div class="card neon-border mt-4">
        <div class="card-body">
          <h2 data-i18n="createYourTournament">Create your tournament</h2>
          <form id="tournament-form" class="form-control-xl w-100 mt-3">
            <div class="mb-3">
              <input
                data-i18n="tournament-name"
                type="text"
                class="form-control"
                id="new-tournament-name"
                placeholder="Tournament name"
                required />
            </div>
            <div class="d-flex justify-content-between">
              <button
                data-action="create-tournament"
                type="submit"
                class="btn flex-grow-1"
                data-i18n="createTournament">
                CREATE TOURNAMENT
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
