<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match History</title>
</head>
<body>
    <h1>Match History</h1>
    <ul>
        {% for match in matches %}
        <li>
            {{ match.date }} - {{ match.game_session.player1.user.username }} vs {{ match.game_session.player2.user.username }}
            {% if match.game_session.winner %}
                - Winner: {{ match.game_session.winner.user.username }}
            {% else %}
                - TBD
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
