<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tournament.name }} Recap</title>
</head>
<body>
    <h1>{{ tournament.name }} Recap</h1>
    <h3>Winner: {{ tournament.winner.user.username }}</h3>
    <h4>Games Played:</h4>
    <ul>
        {% for game in games %}
        <li>
            {{ game.player1.user.username }} vs {{ game.player2.user.username }}
            {% if game.winner %}
                - Winner: {{ game.winner.user.username }}
            {% else %}
                - TBD
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
